<div class="biblioteca-container">

    <header class="biblioteca-header">
        <div class="titulo">
            <button class="btn-volver" (click)="volver()">
                ← Volver
            </button>
            <h1>Gestión de Usuarios</h1>
        </div>

        <div class="buscador-contenedor">
            <i class="icono-lupa">🔍</i>
            <input type="text" placeholder="Buscar usuario..." [(ngModel)]="busqueda"/>
        </div>
    </header>

    <div class="lista-header-columns">
        <span class="col-nombre">Usuario</span>
        <span class="col-accion">Acción</span>
    </div>

    <div class="lista-scroll-contenedor">

        <div *ngIf="usuariosFiltrados.length === 0" class="mensaje-vacio">
            <p>No se encontraron usuarios...</p>
        </div>

        <div class="usuario-card" *ngFor="let user of usuariosFiltrados">

            <div class="col-nombre">
                {{ user.nombre }}
                <span class="id-badge">ID: {{ user.id }}</span>
            </div>

      
        
            <div class="col-accion">
                <button class="btn-eliminar" (click)="borrarUsuario(user.id)" title="Eliminar Usuario">
                    🗑️ Eliminar
                </button>
            </div>
        </div>

    </div>
</div>